<div class="text-center container">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Finalizada</th>
                <th scope="col">Fecha Finalización</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody class="text-start">
            <!-- añadimos una nueva fila con hueco para una tarea con los valores por defecto de la tarea recuperada: -->
            <tr *ngIf="isUpdateTask == true; else taskList">
                <td>
                    <input [(ngModel)]="task.name" class="col me-2 form-control form-sm" type="text" placeholder="Título" />
                </td>
                <td>
                    <input [(ngModel)]="task.description" class="col me-2 form-control" type="text" placeholder="Descripción" />
                </td>
                <td>{{taskCreated|date: 'dd/MM/yyyy hh:mm'}}</td>
                <td>
                    <span *ngIf="taskIsComplete == true">Si</span>
                    <span *ngIf="taskIsComplete == false">No</span>
                </td>
                <td><span *ngIf="taskFinish != null">{{taskFinish|date: 'dd/MM/yyyy hh:mm'}}</span></td>
                <td class="text-center">
                    <button type="button" (click)="updateTask()" class="btn btn-sm btn-success me-2 mb-1">Guardar</button>
                    <button type="button" (click)="cancelUpdate()" class="btn btn-sm btn-primary me-2 mb-1" >Cancelar</button>
                </td>
            </tr>
            <!-- movemos el listado a un ng-template que se mostrará cuando no se cumpla la condición anterior -->
            <ng-template #taskList>
                <tr *ngFor="let data of tasks">
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.date_created|date: 'dd/MM/yyyy hh:mm'}}</td>
                    <td>
                        <span *ngIf="data.is_complete == true">Si</span>
                        <span *ngIf="data.is_complete == false">No</span>
                    </td>
                    <td><span *ngIf="data.date_finish != null">{{data.date_finish|date: 'dd/MM/yyyy hh:mm'}}</span></td>
                    <td class="text-center">
                        <!-- añadimos un nuevo botón para actualizar tarea con los datos id, nombre, descripcion y con true decir que estamos actualizando: -->
                        <button (click)="editTask(data)" class="btn btn-sm btn-warning me-2">editar tarea</button>
                        <button (click)="getTask(data._id, data.name)" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#finishModal">finalizar tarea</button>
                        <button (click)="getTask(data._id, data.name)" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar tarea</button>
                    </td>
                </tr>
                <!-- metemos aquí la acción de crear tarea para poder ocultarla cuando se edite tarea -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>      
                        <input [(ngModel)]="task.name"  class="col me-2 form-control form-sm" type="text" placeholder="Título"/>
                    </td>
                    <td>
                        <input [(ngModel)]="task.description" class="col me-2 form-control" type="text" placeholder="Descripción" />
                    </td>
                    <td>
                        <input (click)="createTask()" class="col me-2 form-control btn btn-success" type="button" value="Crear tarea" />
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <app-finish-task-modal [taskId]="taskId" [taskName]="taskName" (task)="updateTask($event)"></app-finish-task-modal>
    <app-delete-task-modal [taskId]="taskId" [taskName]="taskName" (task)="updateTask($event)"></app-delete-task-modal>
</div>
