<div class="bodystyle text-center" cz-shortcut-listen="true">
    <div class="form-signin text-center">
        <h1>Restablecer contraseña</h1>
        <div class="form-floating">
            <input type="password" [(ngModel)]="resetData.newPassword" class="form-control" placeholder="Password" />
            <label htmlFor="floatingPassword">Nueva contraseña</label>
        </div>
        <div class="form-floating">
            <input type="password" [(ngModel)]="resetData.repitePassword" class="form-control" placeholder="Password" />
            <label htmlFor="floatingPassword">Repetir nueva contraseña</label>
            <small *ngIf="match == false" class="text-danger">Las contraseñas no coinciden</small>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="button" (click)="reset()">Cambiar contraseña</button>
    </div>
</div>
<!-- cargamos el alert externo: -->
<app-alert [alertSuccess]="resetAlertSuccess" [alertError]="resetAlertError" [alertMessage]="resetAlertMessage"></app-alert>