<div class="modal fade" id="registerUser" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <input [(ngModel)]="registerData.email" type="email" class="form-control mt-3" placeholder="Email" />  
                    <input [(ngModel)]="registerData.password" type="password" class="form-control mt-3" placeholder="Contraseña" /> 
                    <input type="button" (click)="register()" class="btn btn-success form-control mt-3" value="Darse de alta" data-bs-dismiss="modal" />
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- añadimos la alerta debajo del modal: -->
<app-alert [alertSuccess]="registerAlertSuccess" [alertError]="registerAlertError" [alertMessage]="alertMessage"></app-alert>